apiVersion: v1
kind: Service
metadata:
  name: {{ build_machine_name }}
  namespace: {{ target_namespace }}
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 80
  selector:
    app: {{ build_machine_name }}
  type: ClusterIP